/*wsui-badge Start*/
.wsui-badge {
  font-size: 10px;
  border-radius: 100px;
  min-width: 1em;
  display: inline-block;
  vertical-align: middle;
  padding: 0.24em 0.4em;
  line-height: 1.4em;
  background-color: #dd514c;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
}

/*wsui-badge End*/
.test-wsui-badge {
  border: 1px solid red;
}
